
.bbusca[type="button"],[type="reset"]{
    height: 40px; 
    font-size: 14px;
    text-align: center;
    border: 0;
    background-color: #ebc88a;
    box-shadow: 0 0 3px #000;
}

.bbusca[type="button"]:hover,[type="reset"]:hover{
    box-shadow: 0 0 10px #000; 
}

.bbusca[type="text"]{
    font-size: 14px;
    height: 40px;
    border: 0;
    text-align: center;
    background-color: #cefbd3;
    box-shadow: 0 0 2px #000;
}

.bbusca[type="text"]:focus{
    background-color: #cefbd3;
    box-shadow: 0 0 10px #000;
}

.bbusca[type="text"]:hover{
    text-align: center;
    background-color: #dffbe2;
    box-shadow: 0 0 6px #000;
}
    

tbody tr:hover {
    background-color: #6cb2df;
    color: #333
}


.datagrid table {
    border-collapse: collapse; 
    text-align: center; 
    width: 70%;    
    font: normal 12px/150% Geneva, Arial, Helvetica, sans-serif; background: #fff;
    border: 1px solid #629967; 
    box-shadow: 7px 7px 20px 7px #000;
    
} 
.datagrid {
    overflow: hidden; 
    
}
.datagrid table td, .datagrid table th { padding: 10px 9px; }

.datagrid table thead th {
    background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #006699), color-stop(1, #00557F) );
    background:-moz-linear-gradient( center top, #006699 5%, #00557F 100% );
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#006699', endColorstr='#00557F');
    background-color:#006699; 
    color:#FFFFFF; 
    font-size: 16px; 
    font-weight: bold; 
    text-align: center;
    border-left: 0px solid #0070A8; 
} 

.datagrid table thead th:first-child { border: none; }
.datagrid table tbody td { 
    color: #00557F; 
    font-size: 14px;
    border-bottom: 1px solid #6275F4;
    font-weight: normal; 
}

.datagrid table tbody .alt td { background: #E1EEf4; color: #2A2863; }

.datagrid table tbody td:first-child { border-left: none; }

.datagrid table tbody tr:last-child td { border-bottom: none; }

.texto[type="text"]{
    font-size: 14px;
    height: 30px;
    border: 0;
    background-color: #FFFFFF;
}

.texto[type="text"]:focus{
    background-color: #cefbd3;
}

