
ul.autocomplete
{
    list-style-type: none;
    margin: 1px;
    min-height: 100px;
    position: absolute;
    border: 0;
}

ul.autocomplete li
{
    cursor: pointer;
    padding: 10px;
    border-radius: 1px 20px 20px 1px;
    box-shadow: 0.1px 0.1px 1px 0.3px chartreuse;
    background-color: #fff;
}

ul.autocomplete li:first-child
{
    border-top: none;
    top: 100px;
}

ul.autocomplete li.active
{
    background-color: #aec0e8;
}

/* Default render function styles */

ul.autocomplete li p
{
    margin: 1px 4px;
}

ul.autocomplete li p.title
{
    color: #000000;
    font-weight: bold;
}

ul.autocomplete li p.matchRow
{
    color: #2256c5;
}

ul.autocomplete li span.matchedField
{
    color: #595865;
    font-style: italic;
}

ul.autocomplete span.match
{
    font-weight: bold;
}