
* {
    margin: 0;
    padding: 0;
}

h1, 
h2 {
    font-size: 24px;
}
p {
    margin: 10px 0 10px 0;
    font-size: 16px;
    line-height: 1.32;
}

a {
    color: #7aa76d;
    text-decoration: none;

    -webkit-transition: 0.15s color ease;
    -moz-transition: 0.15s color ease;
    -ms-transition: 0.15s color ease;
    -o-transition: 0.15s color ease;
    transition: 0.15s color ease;
}
a:hover {
    color: #91cd85;
}

small {
    display: block;
    margin-top: 15px;
    padding-top: 15px;
    color: #333;
    font-size: 0.85em;
    border-top: 1px dashed #ccc;

    -webkit-text-size-adjust: none;
}

.buttonconfirm {
    border: 0px;
    padding: 8px 10px;
    margin: 5px 0px;
    border-radius: 1px;

    cursor: pointer;
    color: #fff;
    background: #7aa76d;
    font-size: 15px;

    -webkit-transition: 0.15s background ease;
    -moz-transition: 0.15s background ease;
    -ms-transition: 0.15s background ease;
    -o-transition: 0.15s background ease;
    transition: 0.15s background ease;
}
.buttonconfirm:hover {
    background: #91cd85;
}
.buttonconfirm:active {
    background: #60895a;
}
.buttonconfirm+button {
    margin-left: 5px;
}

.sharing {
    margin-top: 50px;
}
