<table>
    <thead>
        <tr>
            <th><input name="checktodos" type="checkbox" value="hola"/></th>
            <th>ID</th>
            <th>Nombre</th>
            <th>Comentario</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td><input name="comment-1" type="checkbox" value="hola1" /></td>
            <td>1</td>
            <td>Juan Perez</td>
            <td>Texto de comentario</td>
        </tr>
        <tr>
            <td><input name="comment-2" type="checkbox" value="hola2" /></td>
            <td>2</td>
            <td>Juan Perez</td>
            <td>Texto de comentario</td>
        </tr>
    </tbody>
</table>

<input type="button" onclick="verSele();" value="hola">
<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.3.2/jquery.min.js"></script>
<script type="text/javascript">
    function verSele(){
    jQuery.fn.getCheckboxValues = function() {
        var values = [];
        var i = 0;
        this.each(function() {
            values[i++] = $(this).val();
            alert($(this).val());
        });
        return values;
    };

    var arr = $("input:checked").getCheckboxValues();}
</script>